html, body {
  height: 100%;
  margin: 0;
  font-size: 18px;
  color: white;
}

#content {
  height: 100%;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  color: white;
}
button:hover{
  cursor: pointer;
}
button:active {
  color: orange;
}

.background-image {
  background-image: url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.white-background {
  background-color: white;
}

.main-container {
}

.header {
}
.header-change-background {
  background-image: url("https://images.pexels.com/photos/4255489/pexels-photo-4255489.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
}
.header-container{
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  height: 150px;
}
.restaurant-name {
  display: flex;
  justify-content: flex-start;
  font-size: 50px;
}
.restaurant-name:hover {
  background: Transparent;
}
.header-end {
  padding-left: 50px;
  display: flex;
  justify-content: flex-end;
}
.spacing{
  margin-left: 20px;
  font-size: 16px;
}
.spacing.active {
  color: orange;
}
.banner-text {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.home-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.address-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}
.home-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.visit-text, .eat-text, .order-text {
  font-size: 70px;
}
.visit-text {
}
.visit-text:hover {
  text-decoration: underline;
  background: Transparent;
}
.eat-text {
  margin: 0;
 position: absolute;
 left: 50%;
 transform: translate(-50%);
}
.eat-text:hover {
  text-decoration: underline;
  background: Transparent;
}
.order-text{
}
.order-text:hover {
  text-decoration: underline;
  background: Transparent;
}

.menu-text-container, .order-now-text-container, .reservation-text-container {
  background-color: white;
  height: 100%;
  color: black;
  min-height: 1000px;
  height: 100%;
  text-align: center;
}
.menu-dish-text {

}
.order-now-text-container {

}
.order-now-text {

}
.reservation-text-container {
}
.reservation-text {
}

.end-container {
  background-color: black;
  height: 150px;
  text-align: center;
  line-height: 150px;
}
.end-facebook, .end-twitter, .end-instagram {
  margin-left: 40px;
  font-size: 25px;
}

/* Style the tab */
.tab {
  overflow: hidden;
}
.tab-home {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover, .tab-home button:hover {
  color: orange;
}

/* Create an active/current tablink class */
.tab button.active {
  color: orange;
}
.tab-home button.active{
}

/* Style the tab content */
.tabcontent {
 display: none;
}

/* Style the header */
.header {
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .tabcontent {
  padding-top: 500px;
}
