body {
  height: 100%;
  margin: 0;
  font-size: 18px;
  color: white;
}

#content {
}

.background-image {
  background-image: url("https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 10000px;
  height: 100%;
}

.header-container{
  height: 200px;
}
.restaurant-name {
  display: flex;
  justify-content: flex-start;
  font-size: 45px;
}
.header-end {
  padding-left: 50px;
  display: flex;
  justify-content: flex-end;
}
.spacing{
  padding-right: 20px;
}
.banner-text {
  padding: 30px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  padding: 80px;
}

.text-story {
  margin-left: 30%;
  margin-right: 30%;
  text-align: justify;
}
